$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color: #000000;
$bg-color: #f6f6f6;

@mixin globalMargin {
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (min-width: 620px) {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@mixin maxWidth {
    max-width: 1440px;
}

@mixin maxWidthContainer {
    max-width: 1240px;
}

@mixin borderRadius10px {
    border-radius: 10px;
}

@mixin fontFamily {
    font-family: "Montserrat", sans-serif;
}

@mixin globalInput {
    @include borderRadius10px;
    overflow: hidden;
    color: $primary-color;
    box-sizing: border-box;
    padding: 5px 20px;
    border: 2px solid $primary-color;
    width: 100%;
    font-size: 20px;
    @media screen and (min-width: 375px) {
        font-size: 16px;
    }
}
