@import "./globalStyle";

body {
    @include maxWidth;
    @include fontFamily;
    box-sizing: border-box;
    margin: auto;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1,
h2,
h3,
a {
    color: $primary-color;
}

p {
    color: $secondary-color;
    margin: 0;
}

img {
    object-fit: cover;
}
