@import "../../styles/globalStyle";

@mixin specifyInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.housingEditorContaineur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    .housingEditorContaineur__dynamicDisplay {
        width: 100%;
    }
    .alternativeCarousel {
        @include borderRadius10px;
        font-style: italic;
        color: $primary-color;
        background-color: $bg-color;
        margin: 15px 0 25px 0;
        padding: 10px;
        text-align: center;
    }
    .container__userIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        background-color: $bg-color;
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        & svg {
            height: 50%;
        }
    }

    .containerCard {
        @include globalMargin;
        @include borderRadius10px;
        background-color: $bg-color;
        padding: 20px;
        width: 75%;
        // min-width: 150px;
        max-width: 340px;
        @media screen and (min-width: 370px) {
            width: 100%;
        }

        & .alternative__text {
            color: $primary-color;
            text-align: center;
        }
    }
}
