@import "../../styles/globalStyle";

.formContainer {
    @include globalMargin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    & .formContainer__champs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        & .formContainer__labels {
            color: $primary-color;
            font-weight: bold;
        }

        & .formContainer__inputs {
            @include borderRadius10px;
            @include globalInput;
            background-color: $bg-color;
            height: 50px;
            max-width: 400px;
            font-size: 20px;
        }
        & .invalid-feedback{
            font-size: 12px;
        }
    }
}
