@import "../../styles/globalStyle";

@mixin gap {
    gap: 113px;
    @media screen and (min-width: 620px) {
        gap: 139px;
    }
}

@mixin marginBottom {
    margin-bottom: 113px;
    @media screen and (min-width: 620px) {
        margin-bottom: 139px;
    }
}
@mixin margintTop {
    margin-top: 113px;
    @media screen and (min-width: 620px) {
        margin-top: 139px;
    }
}

.errorPage {
    @include gap();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
        @include margintTop();
        width: 70%;
        max-height: 263px;
        max-width: 597px;
        min-width: 198px;
    }
    &__para {
        font-size: 18px;
        text-align: center;
        color: $primary-color;
    }
    &__link {
        @include marginBottom();
        font-size: 14px;
        text-align: center;
    }
}
