@import "../../styles/globalStyle";

@mixin styleBanner {
    @include borderRadius10px();
    height: 111px;
    @media screen and (min-width: 376px) {
        height: 150px;
    }
    @media screen and (min-width: 763px) {
        border-radius: 25px;
        height: 223px;
    }
}

.bannerWrapper {
    @include styleBanner();
    @include maxWidthContainer();
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: auto;
    margin-top: 27px;

    @media screen and (min-width: 376px) {
        justify-content: center;
    }
    @media screen and (min-width: 620px) {
        margin-top: 50px;
    }

    & img {
        @include styleBanner();
        position: absolute;
        width: 100%;
    }

    & .scaleAbout {
        //Zoom pour correspondre à la maquette
        transform: scale(1.1);
        @media screen and (min-width: 763px) {
            transform: scale(1);
        }
    }
    & .scaleHome {
        //Zoom pour correspondre à la maquette
        transform: scale(1.85);
        @media screen and (min-width: 763px) {
            transform: scale(1);
        }
    }

    &--opacity {
        @include styleBanner();
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: $tertiary-color;
        opacity: 0.25;
    }
    &__para {
        color: $secondary-color;
        z-index: 1;
        padding: 0 100px 0 16px;
        font-size: 6.4vw;
        @media screen and (max-width: 374px) {
            padding: 0 16px 0 16px;
        }
        @media screen and (min-width: 763px) {
            font-size: 3.33vw;
            padding: 0;
        }

        @media screen and (min-width: 1440px) {
            font-size: 48px;
        }
    }
}
